.d-block {
  display: block;
}

.options-container {
  box-shadow: 0 5px 10px var(--shadow-color);
  padding: 1rem;
  border-radius: 5px;
  border-left: 0.5rem solid var(--logo-color);
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--background-light);
}

.d-block h2 {
  font-size: 1.5rem;
  color: var(--text-color);
}
.option {
  height: 3rem;
  width: 3rem;
  box-shadow: 0 3px 6px var(--shadow-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {
  background-color: var(--color-white);
}

.dark {
  background-color: var(--rich-dark-color);
}

.check {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.check svg {
  height: 1.5rem;
  width: 1.5rem;
}
